.task-title{
    text-align: center;
    background-color: rgb(234, 252, 169);
    color: black;
    padding: 10px;
    font-weight: bold;
}

.tag-category{
    color: black;
    background-color: rgb(164, 248, 248);
    width: max-content;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.due-warn-text{
    color:black;
}
