<h2 class="task-title">Task Details</h2>
<mat-card class="custom-matcard">
    <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle class="tag-category">{{ task.category }}</mat-card-subtitle>
        <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        <mat-card-subtitle class="due-warn-text">Due: {{ task.dueDate | date:'yyyy-MM-dd' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
    </mat-card-actions>
</mat-card>

