<body>
    <div class="mainBody">
      <mat-card class="custom-mat-card">
          <mat-toolbar class="main-head">
            <button mat-icon-button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/todos']">
                <mat-icon>assignment_ind</mat-icon>
                <span>My Task</span>
              </button>
              <button mat-menu-item [routerLink]="['/todos/deleted']">
                <mat-icon>delete</mat-icon>
                <span>Deleted Task</span>
              </button>
              <button mat-menu-item (click)="onLogout()">
                <mat-icon>person</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
            <span class="main-title">Todo App</span>
          </mat-toolbar>
        <br>
        <div class="btn-box">
        <button mat-raised-button color="accent" (click)="openTaskFormDialog()">Add Task</button>
        <br><br>
        </div>
        <content>
          <app-task-lists></app-task-lists>
        </content>
    </mat-card>
    </div>
  </body>
